/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* MAIN COLOR: #db2777 
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
	font-family: "Inter", sans-serif;
	color: #393e46;
}

.accordion {
	width: 750px;
	margin: 100px auto;
}

.item {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-top: 6px solid #db2777;
	padding: 24px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 24px;
	row-gap: 32px;
	align-items: center;
}

.item p {
	line-height: 1.7;
}

.text {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-size: 18px;
}

ul {
	color: #737373;
	font-size: 17px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.number,
.query,
.chevron {
	color: #db2777;
	font-size: 24px;
	font-weight: 500;
}

.chevron {
	width: 24px;
}
