* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Rubik", sans-serif;
	color: #444;
}

header {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(1, 2, 33, 0.5)),
		url(./hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.flex-wrapper {
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner {
	width: 50%;
}

.container {
	margin: 0 auto;
	width: 1275px;
	color: white;
}

nav {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
    padding-top: 32px;
}

nav > * {
    cursor: pointer;
}

nav > *:hover {
    color: #bbb;
}

h1 {
	font-size: 52px;
	margin-bottom: 32px;
	line-height: 1.05;
}

p {
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 48px;
}

.btn:link,
.btn:visited {
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: white;
	background-color: #e67e22;
	display: inline-block;
	padding: 16px 32px;
	border-radius: 8px;
}

.btn:hover {
    background-color: #c36a1d;
}

h2 {
	font-size: 44px;
	margin-bottom: 48px;
}

section {
	padding: 96px 0;
	background-color: #f7f7f7;
}
