* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-family: "Rubik", sans-serif;
	color: #444;
}

header {
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

nav {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 52px;
	margin-bottom: 32px;
}

p {
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 48px;
}

.btn:link,
.btn:visited {
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: white;
	background-color: #e67e22;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 8px;
}

h2 {
    font-size: 44px;
    margin-bottom: 48px;
}

section {
    padding: 96px 0;
    background-color: #f7f7f7;
}
