* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: #343a40;
	font-weight: 700;
	font-size: 24px;
	height: 100vh;

	display: grid;
	grid-template-columns: 80px 400px 1fr 250px;
	grid-template-rows: 80px 1fr;
}

body > * {
	padding: 24px;
	text-align: center;
}

nav {
	grid-row: 1 / 3;
	background-color: #343a40;
	color: white;
	padding: 0;
	padding-top: 24px;
}

menu {
	grid-column: 2 / 5;
	background-color: #7048e8;
	color: white;
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: space-between;
	padding-left: 24px;
	padding-right: 48px;
}

.actions {
	font-size: 18px;
	background-color: #4f369c;
	color: inherit;
	border: none;
	padding: 4px 8px;
	font-weight: 600;
}

.trash {
	background-color: #cd206d;
	padding: 8px 16px;
}

section {
	grid-column: 2;
	background-color: #e9ecef;
	display: flex;
	flex-direction: column;
	gap: 32px;

    overflow: scroll;
}

.items {
	background-color: #a9aaaa;
	height: 100px;
	display: flex;
    flex-shrink: 0;
	align-items: center;
	justify-content: center;
}

aside {
	background-color: #e9ecef;
}
